// Colors
$mainColor: #030303;
// -------------------------
$gray: #F7F7F7;
// filter: invert(99%) sepia(100%) saturate(28%) hue-rotate(162deg) brightness(111%) contrast(94%);
// -------------------------
$grayLight: #FDFDFD; // side bar
// filter: invert(100%) sepia(0%) saturate(7412%) hue-rotate(127deg) brightness(103%) contrast(98%);
// -------------------------
$grayDark: #A2A2A2; 
// filter: invert(74%) sepia(0%) saturate(21%) hue-rotate(167deg) brightness(91%) contrast(81%);
// -------------------------
$purple: #403BED;
// filter: invert(25%) sepia(89%) saturate(6043%) hue-rotate(243deg) brightness(95%) contrast(96%);

// -------------------------
$orange: #D86862;
// filter: invert(77%) sepia(15%) saturate(7235%) hue-rotate(312deg) brightness(84%) contrast(102%);
// -------------------------
$blue: #5694F5;
// filter: invert(65%) sepia(85%) saturate(3811%) hue-rotate(196deg) brightness(101%) contrast(92%);